[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "VoxR"]
	path = VoxR
	url = https://github.com/blecigne/voxr
	shallow = true
	registered = true
